<div class="Profile_Container">
  <div class="">
    <h4 class="Heading">Plarform Settings</h4>
  </div>
  <div>
    <p>
      Hi, I'm Arthur M Morgan, Decisions: If you can't decide, the answer is no.
      If two equally difficult paths, choose the one more painful in the short
      term (pain avoidance is creating an illusion of equality)
    </p>
   <div class="Personal_Info_Section">
        <div><span class="Personal_Info_Heading">Full Name : </span><span>Arthur M Morgan</span></div>
        <div><span class="Personal_Info_Heading">Mobile : </span><span>(+81) 898 988 545 223</span></div>
        <div><span class="Personal_Info_Heading">Email : </span><span>ArthurMMorgan@gmail.com</span></div>
        <div><span class="Personal_Info_Heading">Location : </span><span>Annesberg</span></div>
        <div>
          <span class="Personal_Info_Heading">Social : </span
          ><span>
            <a routerLink="" class="me-2"><i class="bi bi-facebook"></i></a>
            <a routerLink="" class="me-2"><i class="bi bi-twitter"></i></a>
            <a routerLink="" class="me-2"><i class="bi bi-instagram"></i></a>
          </span>
        </div>
   </div>
  </div>
</div>
