<div class="table1 " [ngClass]=" onBgChange()">
  <div class="employee_heading">Employees</div>
  <table class="table table-striped " [ngClass]="onBgColorChange()">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Status</th>
        <th>D.O.J</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Luwitius Cornwall</td>
        <td>Assosiate Manager</td>
        <td>Offline</td>
        <td>01/10/1998</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Dutch Van Der Linde</td>
        <td>Manager</td>
        <td>Offline</td>
        <td>01/12/1995</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Arthur Morgan</td>
        <td>HR</td>
        <td>Online</td>
        <td>01/01/2005</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Hossea Bairstrow</td>
        <td>CEO</td>
        <td>Offline</td>
        <td>01/11/1985</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Sadie Grimshaw</td>
        <td>Contractor</td>
        <td>Online</td>
        <td>01/09/2015</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Colm O'Driscoll</td>
        <td>Section Head</td>
        <td>Offline</td>
        <td>01/05/1989</td>
        <td>Edit</td>
      </tr>

      <tr>
        <td>John Marston</td>
        <td>Assistant HR</td>
        <td>Offline</td>
        <td>01/10/1998</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Jim Milton</td>
        <td>Outside Worker</td>
        <td>Offline</td>
        <td>01/12/1995</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Abigail Marston</td>
        <td>Programmer</td>
        <td>Online</td>
        <td>01/01/2005</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Hossea Bairstrow</td>
        <td>CEO</td>
        <td>Offline</td>
        <td>01/11/1985</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Sadie Grimshaw</td>
        <td>Contractor</td>
        <td>Online</td>
        <td>01/09/2015</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Colm O'Driscoll</td>
        <td>Section Head</td>
        <td>Offline</td>
        <td>01/05/1989</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Luwitius Cornwall</td>
        <td>Assosiate Manager</td>
        <td>Offline</td>
        <td>01/10/1998</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Dutch Van Der Linde</td>
        <td>Manager</td>
        <td>Offline</td>
        <td>01/12/1995</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Arthur Morgan</td>
        <td>HR</td>
        <td>Online</td>
        <td>01/01/2005</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Hossea Bairstrow</td>
        <td>CEO</td>
        <td>Offline</td>
        <td>01/11/1985</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Sadie Grimshaw</td>
        <td>Contractor</td>
        <td>Online</td>
        <td>01/09/2015</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Colm O'Driscoll</td>
        <td>Section Head</td>
        <td>Offline</td>
        <td>01/05/1989</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Luwitius Cornwall</td>
        <td>Assosiate Manager</td>
        <td>Offline</td>
        <td>01/10/1998</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Dutch Van Der Linde</td>
        <td>Manager</td>
        <td>Offline</td>
        <td>01/12/1995</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Arthur Morgan</td>
        <td>HR</td>
        <td>Online</td>
        <td>01/01/2005</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Hossea Bairstrow</td>
        <td>CEO</td>
        <td>Offline</td>
        <td>01/11/1985</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Sadie Grimshaw</td>
        <td>Contractor</td>
        <td>Online</td>
        <td>01/09/2015</td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Colm O'Driscoll</td>
        <td>Section Head</td>
        <td>Offline</td>
        <td>01/05/1989</td>
        <td>Edit</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="table1" [ngClass]=" onBgChange()">
  <div class="employee_heading">Projects</div>
  <table class="table table-striped " [ngClass]="onBgColorChange()">
    <thead class="">
      <tr>
        <th>Project</th>
        <th>Budget</th>
        <th>Status</th>
        <th>Completion</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Asana</td>
        <td>$22,500</td>
        <td>Working</td>
        <td>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped bg-warning"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>GitHub</td>
        <td>$12,500</td>
        <td>Working</td>
        <td>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped bg-secondary"
              role="progressbar"
              style="width: 22%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Atlassian</td>
        <td>$35,000</td>
        <td>Cancelled</td>
        <td>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped bg-danger"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Bootstrap</td>
        <td>$12,700</td>
        <td>Working</td>
        <td>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped bg-success"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Angular</td>
        <td>$200,000</td>
        <td>Working</td>
        <td>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped bg-warning"
              role="progressbar"
              style="width: 55%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </td>
        <td>Edit</td>
      </tr>
      <tr>
        <td>Tailwind</td>
        <td>$25,500</td>
        <td>Cancelled</td>
        <td>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped bg-danger"
              role="progressbar"
              style="width: 35%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </td>
        <td>Edit</td>
      </tr>
    </tbody>
  </table>
</div>
