<div class="Your_Container" [ngClass]="onBgColorChange()">
  <div class="Heading_Div"><h4 class="Your_Heading">Your Transactions</h4></div>
  <div class="invoices_contents_style mt-3">
    <div class="Transaction_to">
      <div><mat-icon>expand_less</mat-icon></div>
      <div>
          <span>Netflix</span><br />
          <span>27 March 2023, at 12:30 pm</span>
      </div>
    </div>
    <div>-$2,500</div>
  </div>
 <div class="invoices_contents_style mt-3">
    <div class="Transaction_to">
      <div><mat-icon>expand_less</mat-icon></div>
      <div>
          <span>Amazon</span><br />
          <span>27 March 2023, at 12:30 pm</span>
      </div>
    </div>
    <div>-$2,500</div>
  </div>
 <div class="invoices_contents_style mt-3">
    <div class="Transaction_to">
      <div><mat-icon>expand_less</mat-icon></div>
      <div>
          <span>Hotstar</span><br />
          <span>27 March 2023, at 12:30 pm</span>
      </div>
    </div>
    <div>-$2,500</div>
  </div>
 <div class="invoices_contents_style mt-3">
    <div class="Transaction_to">
      <div><mat-icon>expand_less</mat-icon></div>
      <div>
          <span>Peacock</span><br />
          <span>27 March 2023, at 12:30 pm</span>
      </div>
    </div>
    <div>-$2,500</div>
  </div>
 <div class="invoices_contents_style mt-3">
    <div class="Transaction_to">
      <div><mat-icon>expand_less</mat-icon></div>
      <div>
          <span>HBO MAX</span><br />
          <span>27 March 2023, at 12:30 pm</span>
      </div>
    </div>
    <div>-$2,500</div>
  </div>
 <div class="invoices_contents_style mt-3">
    <div class="Transaction_to">
      <div><mat-icon>expand_less</mat-icon></div>
      <div>
          <span>Hulu</span><br />
          <span>27 March 2023, at 12:30 pm</span>
      </div>
    </div>
    <div>-$2,500</div>
  </div>
  <div class="invoices_contents_style mt-3">
    <div class="Transaction_to">
      <div><mat-icon>expand_less</mat-icon></div>
      <div>
          <span>Sony Liv</span><br />
          <span>27 March 2023, at 12:30 pm</span>
      </div>
    </div>
    <div>-$2,500</div>
  </div>
</div>
