<div class="Invoices_Container" [ngClass]="onBgColorChange()">
  <div class="Heading_Div"><h4 class="Invoices_heading mt-2">Invoices</h4></div>
  <div class="invoices_contents_style mt-4">
    <div>
      <span>March,01,2020</span><br />
      <span>#MS-456652</span>
    </div>
    <div>$180</div>
    <div><mat-icon>picture_as_pdf</mat-icon> PDF</div>
  </div>
  <div class="invoices_contents_style">
    <div>
      <span>March,01,2020</span><br />
      <span>#MS-456652</span>
    </div>
    <div>$180</div>
    <div><mat-icon>picture_as_pdf</mat-icon> PDF</div>
  </div>
  <div class="invoices_contents_style">
    <div>
      <span>March,01,2020</span><br />
      <span>#MS-456652</span>
    </div>
    <div>$180</div>
    <div><mat-icon>picture_as_pdf</mat-icon> PDF</div>
  </div>
  <div class="invoices_contents_style">
    <div>
      <span>March,01,2020</span><br />
      <span>#MS-456652</span>
    </div>
    <div>$180</div>
    <div><mat-icon>picture_as_pdf</mat-icon> PDF</div>
  </div>
  <div class="invoices_contents_style">
    <div>
      <span>March,01,2020</span><br />
      <span>#MS-456652</span>
    </div>
    <div>$180</div>
    <div><mat-icon>picture_as_pdf</mat-icon> PDF</div>
  </div>
  <div class="invoices_contents_style">
    <div>
      <span>March,01,2020</span><br />
      <span>#MS-456652</span>
    </div>
    <div>$180</div>
    <div><mat-icon>picture_as_pdf</mat-icon> PDF</div>
  </div>
</div>
