<div class="Settings" [ngClass]="{ hide: toggleSettings }">
  <app-settings class="Settings_Content" (toogleSettings)="Settings_toggler()"></app-settings>
</div>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="toggleSidebar">
    <app-sidebar class="sidebar" (toggleSidebar)="Settings_toggler()" (sidebarSlider)="sidebar_toggler()"></app-sidebar>
  </mat-drawer>
  <mat-drawer-content
    ><div class="Rightside_Section">
      <app-header (toggleSidebar)="sidebar_toggler()" [toggleStatus]="toggleSidebar" (toggleSetting)="Settings_toggler()"></app-header>
      <router-outlet></router-outlet>
      <mat-divider></mat-divider>
      <app-footer *ngIf="showFooter"></app-footer></div
  ></mat-drawer-content>
</mat-drawer-container>
