<div class="Platform_container">
  <div class=""><h4 class="Heading">Plarform Settings</h4></div>
  <div class="All_Slider_Settings">
    <div>
      <h5>Account</h5>
      <div class="Slider_Account_Settings">
        <div class="">
          <mat-slide-toggle
            ><span [ngClass]="onBgColorChange()"
              >Email me when someone follows me</span
            ></mat-slide-toggle
          >
        </div>
        <div>
          <mat-slide-toggle
            ><span [ngClass]="onBgColorChange()"
              >Email me when someone posts about me</span
            ></mat-slide-toggle
          >
        </div>
        <div>
          <mat-slide-toggle
            ><span [ngClass]="onBgColorChange()"
              >Email me when someone mentions me</span
            ></mat-slide-toggle
          >
        </div>
      </div>
    </div>

    <div>
      <h5>Application</h5>
      <div class="Slider_Account_Settings">
        <div class="">
          <mat-slide-toggle
            ><span [ngClass]="onBgColorChange()"
              >New launches and projects</span
            ></mat-slide-toggle
          >
        </div>
        <div>
          <mat-slide-toggle
            ><span [ngClass]="onBgColorChange()"
              >Monthly product updates</span
            ></mat-slide-toggle
          >
        </div>
        <div>
          <mat-slide-toggle
            ><span [ngClass]="onBgColorChange()"
              >Subscribe to newsletter</span
            ></mat-slide-toggle
          >
        </div>
      </div>
    </div>
  </div>
</div>
