<div class="Stepper_Container" [ngClass]="onBgColorChanges()">
  <div class="Heading_Div"><h3 class="fs-2 mt-2">ORDERS OVERVIEW</h3></div>
  <div class="Stepper_section_container">
    <mat-stepper orientation="vertical" [ngClass]="onBgColorChanges()">
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>$2400, Design Changes</span>
            <br />
            <span>22 DEC 7:20 PM</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>New order #1832412</span>
            <br />
            <span>21 DEC 11 PM</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>Server payments for April</span>
            <br />
            <span>21 DEC 9:34 PM</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>New card added for order #4395133</span>
            <br />
            <span>20 DEC 2:20 AM</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>Unlock packages for development</span>
            <br />
            <span>18 DEC 4:54 AM</span>
          </div>
        </ng-template>
      </mat-step>
    </mat-stepper>
    <mat-stepper orientation="vertical" [ngClass]="onBgColorChanges()">
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>$2400, Design Changes</span>
            <br />
            <span>22 DEC 7:20 PM</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>New order #1832412</span>
            <br />
            <span>21 DEC 11 PM</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>Server payments for April</span>
            <br />
            <span>21 DEC 9:34 PM</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>New card added for order #4395133</span>
            <br />
            <span>20 DEC 2:20 AM</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>Unlock packages for development</span>
            <br />
            <span>18 DEC 4:54 AM</span>
          </div>
        </ng-template>
      </mat-step>
    </mat-stepper>
    <mat-stepper orientation="vertical" [ngClass]="onBgColorChanges()">
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>$2400, Design Changes</span>
            <br />
            <span>22 DEC 7:20 PM</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>New order #1832412</span>
            <br />
            <span>21 DEC 11 PM</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>Server payments for April</span>
            <br />
            <span>21 DEC 9:34 PM</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>New card added for order #4395133</span>
            <br />
            <span>20 DEC 2:20 AM</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          <div [ngClass]="onTextColorChange()">
            <span>Unlock packages for development</span>
            <br />
            <span>18 DEC 4:54 AM</span>
          </div>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </div>
  
</div>
