.Card_container {
  text-align: end;
  width: 15rem;
  padding: 1rem 2rem;
  border-radius: 15px;
  position: relative;
  box-shadow: 2px 2px 5px rgb(88, 86, 86), -1px -1px 5px rgb(132, 121, 121);
}
.absolute_icon {
  position: absolute;
  top: -15%;
  padding: 0.5rem;
  border-radius: 5px;
  width: 3rem;
  height: 3rem;
  text-align: center;
}
mat-icon {
  color: white;
  transform: scale(1.5);
}.growth_rate_default{
    color: #13df1d;
}
.black{
    background-color: #39393f;
}.red{
    background-color: #E43270;
}.green{
    background-color: #5BB25F;
}.blue{
    background-color: #3F99EF;
}.growthRateIndicator{
    color: #f02805;
}